@charset "utf-8";

@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/css3/box-shadow";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'STHeiti', 'simsun', sans-serif;
    font-size: 14px;
}
.container-12 .nop-col-1, .container-12 .nop-col-2, .container-12 .nop-col-3, .container-12 .nop-col-4, .container-12 .nop-col-5, .container-12 .nop-col-6, .container-12 .nop-col-7, .container-12 .nop-col-8, .container-12 .nop-col-9, .container-12 .nop-col-10, .container-12 .nop-col-11, .container-12 .nop-col-12 {
  float: left;
}

.clearfix:before, .clearfix:after, .container-12:before, .container-12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
}
.none {
    display: none;
}

.clearfix:before, .clearfix:after, .container-12:before, .container-12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
}
.none {
    display: none;
}

input[type=password], input[type=text], textarea {
    color: #282828;
    font-size: 14px;
    line-height: 100%;
    line-height: 36px\9;
    background: #fff;
    // border: 1px solid #dadada;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 10px;
    height: 36px;
}
input,button,textarea{
  outline:none;
  &:focus{
    border-color: #f87e34;
    // box-shadow:inset 0 1px 3px #eee;
  }
}

@import "buttons_opt";

/// index_layout
.flow-main{
    // margin: 10px auto;
    // border: 1px solid #ebebeb;
    overflow: hidden;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;

    .flow-main-left{
        width: 162px;
        background-color: #2c343a;
        padding-bottom: 10000px;
        margin-bottom: -10000px;

        ul{
            width: 100%;
            padding-top: 20px;
            li{
                // height: 100px;
                // border-left: 2px solid #2c343a;
                margin-top: 13px;
                i{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    background-size: 20px 20px;
                    vertical-align: middle;
                    margin-right: 10px;
                    margin-left: 7px;
                    background-repeat: no-repeat;
                    // margin-top: 15px;

                    &.tab-1{
                        background-image: url('/static/image/side_work.png');
                    }

                    &.tab-2{
                        background-image: url('/static/image/side_model.png');
                    }

                    &.tab-3{
                        background-image: url('/static/image/side_report.png');
                    }

                    &.tab-4{
                        background-image: url('/static/image/side_staff.png');
                    }
                }

                span{
                    display: inline-block;
                    // width: 100%;
                    text-align: center;
                    color: #1abefb;
                    font-size: 14px;
                    line-height: 38px;
                }

                a{
                    display: block;
                    text-decoration: none;
                    padding-top: 14px;
                }

                .sub-tab{
                    width: 100%;
                    padding-top: 0;
                    // padding-left: 40px;
                    color: #90a9bc;
                    font{
                        font-size: 10px;
                        color: #90a9bc;
                        margin-left: 10px;
                    }

                    li{
                        padding-left: 40px;
                        a{
                            color: #90a9bc;
                            padding-top: 0;
                            &:hover{
                                color: #fff;
                            }

                            &.active{
                                color: #fff;
                            }


                        }
                    }
                }

                &.active{
                    // border-left: 2px solid #1abefb;
                    span{
                        color: #1abefb;
                    }

                    i{
                        &.tab-1{
                            background-image: url('/static/image/side_work_selected.png');
                        }

                        &.tab-2{
                            background-image: url('/static/image/side_model_selected.png');
                        }

                        &.tab-3{
                            background-image: url('/static/image/side_report_selected.png');
                        }

                        &.tab-4{
                            background-image: url('/static/image/side_staff_selected.png');
                        }
                    }
                }

                &:hover{
                    span{
                        color: #1abefb;
                    }

                    i{
                        &.tab-1{
                            background-image: url('/static/image/side_work_selected.png');
                        }

                        &.tab-2{
                            background-image: url('/static/image/side_model_selected.png');
                        }

                        &.tab-3{
                            background-image: url('/static/image/side_report_selected.png');
                        }

                        &.tab-4{
                            background-image: url('/static/image/side_staff_selected.png');
                        }
                    }
                }

            }
        }
    }

    .flow-main-right{
        flex: 1;
        min-height: 740px;
        padding-bottom: 30px;
        // padding: 8px 30px 20px 10px;
    }
}


#fullscreen, .full-screen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 9998;
	_position: absolute;
	_height: expression(eval(document.body.scrollHeight));
}
.success-tips {
	border-style: solid;
	border-width: 1px;
	border-color: #dadada;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0.5px 0.866px 5px 0px rgba(6, 0, 1, 0.118);
	width: 260px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -50px;
	z-index: 9999;
}

#dialog {
	position: fixed;
	z-index: 9999;
	border: solid 0px #787878;
	background: #fff;
	@include border-radius(2px);

	/*width:540px;
	height:377px;
	*/
	overflow: hidden;
}

* html #dialog {
	position: absolute;
	left: expression(eval(document.documentElement.scrollLeft));
	top: expression(eval(document.documentElement.scrollTop))
}

#dialog-title,.dialog-title {
	padding: 16px 20px;
	font-size: 16px;
	color: #333333;
	background: #fff;
	line-height: 20px;

	#dialog-title-i,.dialog-title-i {
		width: 8px;
		height: 20px;
		//	background-color: #3c6f9f;
		background-color: none;
		vertical-align: middle;
		margin-right: 10px;
		display: none;

		&.icon-dialog-icon {
			width: 30px;
			height: 29px;
			background-color: #fff;
			float: left;
		}
	}
	span.c {
		padding-top: 1px;
		font-size: 18px;
		float: left;
		// line-height: 29px;
	}
}
.dialog-closed {
	position: absolute;
	right: 11px;
	top: 11px;

	.icon-close {
		cursor: pointer;
        display: block;
        width: 20px;
        height: 20px;
        background: url('/static/image/closed_icon.png') no-repeat;
	}
}
.line-nopad-nomar, .line-nopad-red {
  padding: 0;
  margin: 0;
  line-height: 100%;
  border-top: 1px solid #ebebeb;
}

.line-nopad-red {
    padding: 0;
    margin: 0;
    line-height: 100%;
    border-top: 1px solid #ebebeb;
}

#dialog-content {

	/*
	float:left;
	background-color: #f5f5f5;
	border:solid 1px #e2e2e2;
	*/
	clear: both;
	position: relative;
	font-size: 14px;
	zoom:1;
    /*开通资金托管账户提示大转盘页面样式*/
    .capital-account-set-success h3{
        font-size: 18px;
        color: #282828;
        text-align: center;
        width: 90%;
    }
    .capital-account-set-success h4 {
        text-align: center;
        font-size: 16px;
        color: #585858;
        margin: 25px 0 10px;
        width: 90%;
    }
    .capital-account-set-success  em {
        font-style:normal;
        color: #FF6666;
    }


    .icon-tips-ok {
        width: 33px;
        height: 32px;
        margin-right: 5px;
    }
    .icon-img {
        float: left;
    }
    .pop-content {
        width: 450px;
        height: 87px;
        margin:50px auto;

    }
    .pop-content ul {
        float: left;
        padding-top: 10px;
        line-height: 30px;
        margin-left: 30px;
    }
    .pop-content li {
        text-align: left;
        font-size: 16px;
        color: #585858;

    }
    .pop-content li span {
        font-size: 14px;color: #888888;
    }
    .pop-buttons {
        width: 116px;
        height: 32px;
        border-radius: 20px;
        background-color: #FF6666;
        text-align: center;
        margin: 40px auto;
    }
    .pop-buttons a{
        text-decoration: none;
        font-size: 14px;
        color: #FFF;
        line-height: 30px;
    }
    .clear{clear: both}

	.dialog-detail {

		/*padding:48px 80px;*/
		padding: 20px 30px;
		.new-login-common-content {
			margin: 0 auto;
		}
		h1 {
			font-size: 18px;
			line-height: 23px;
		}
		.form-online {
			padding-bottom: 20px;

			label {
				width: 70px;
				color: #878787;
			}
			input[type="text"] {
				width: 118px;
				height: 28px;
				line-height: 28px;
			}
			span {
				color: #000;

				&.gray {
					color: #878787;
				}
				&.error-text {
					color: #f00;
					font-size: 12px;
				}
			}
			button {
				width: 184px;
				height: 30px;
				//	border: 1px solid #b92d1c;
				//	background: #de4b39;
			}
		}
		.dialog-content-wrap {
			height: 360px;
			overflow-y: scroll;
			line-height: 24px;

			p {
				margin-bottom: 5px;
			}
		}
	}
	.agreements {
		.dialog-detail {
			padding: 30px 35px;
		}
	}
}

#dialog-content #dialog-email .form-online label {
	width: 150px;
}

// 新登录弹窗样式
#dialog .new-login-common-bottom {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 60px;
}
#dialog .new-forget-pwd ,#dialog .new-register-link {
	line-height: 12px;
}
#dialog .new-login-linear {
	margin-left: 34px;
}
.mb57 {
    margin-bottom: 57px;
}
.mb27 {
    margin-bottom: 27px;
}

#dialog .new-login-common-content .login-error {
	line-height: 26px;
}
