.detail-container{
    .detail-title{
        span{
            font-size: 14px;
            font-weight: bold;
            color: #4f5e69;
            line-height: 50px;
            vertical-align: middle;
        }

        background-color: #f0f0f0;
        height: 50px;
        padding-left: 30px;
        border-bottom: 1px solid #dbe1e7;
    }

    .detail-content{
        padding-right: 30px;

        .detail-node-list{
            margin-left: 30px;
            .node-content{
                border: 1px solid #dbe1e7;
                margin-bottom: 30px;
                width: 400px;
                display: inline-block;
            }

            .add-content{
                vertical-align: top;
                cursor: pointer;
            }

            .add-container{
                width: 100px;
                height: 100px;
                // border: 1px solid #dbe1e7;
                position: relative;
                margin: 0 auto;
                cursor: pointer;
                .line-1{
                    display: block;
                    position: absolute;
                    width: 50%;
                    height: 6px;
                    top: 46px;
                    left: 22px;
                    background: #1abefb;
                }
                .line-2{
                    display: block;
                    position: absolute;
                    width: 6px;
                    height: 50%;
                    background: #1abefb;
                    top: 25px;
                    left: 45px;
                }
            }

            .node-dd{
                line-height: 42px;
                padding-left: 20px;
                color: #4f5e69;
            }

            .node-arrow{
                vertical-align: top;
                line-height: 152px;
                display: inline-block;
                padding: 0 48px;
                background: url('/static/image/arrow_circle.png') no-repeat center;
                background-size: 32px 32px;
                width: 32px;
                height: 152px;
                &.none{
                    display: none;
                }
            }

            input{
                background: #f4f6f9;
            }

            .node-title{
                background: #f4f6f9;
                height: 50px;
                line-height: 50px;
                // width: 100%;
                padding-left: 20px;
                // text-align: center;
                color: #4f5e69;
                // border-bottom: 1px solid #dbe1e7;
                .left{
                    text-align: left;
                    font-weight: bold;
                }

                .right{
                    text-align: right;
                    float: right;
                    margin-right: 20px;
                }
            }
            .node-item{
                // border: 1px solid #dbe1e7;
                position: relative;
                height: 49px;
                overflow: hidden;
            }

            .node-click{
                color: #4f5e69;
                font-size: 12px;
                text-align: center;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                margin-bottom: 20px;
                i{
                    width: 10px;
                    height: 6px;
                    vertical-align: middle;
                    margin-left: 5px;
                    display: inline-block;
                    background: url('/static/image/down_arrow.png') no-repeat;
                }

                &.show{
                    i{
                        background: url('/static/image/up_arrow.png') no-repeat;
                    }
                }

            }
        }

        .detail-btn-list{
            background: #f4f6f9;
            height: 50px;
            line-height: 50px;
            border-top: 1px solid #dbe1e7;
            // border-top: none;
            // margin-left: 30px;
            text-align: right;
            padding-right: 0px;

            .detail-btn{
                border: none;
                background: #1abefb;
                display: inline-block;
                margin: 0 auto;
                // width: 150px;
                padding: 0px 20px;
                height: 36px;
                margin-right: 10px;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
            }
        }

        .detail-node-form{
            text-align: center;
            margin-top: 30px;
            .detail-add-btn{
                border: none;
                background: #1abefb;
                display: inline-block;
                margin: 0 auto;
                width: 150px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                // margin-left: 104px;
                cursor: pointer;
                color: #fff;
                border-radius: 3px;

                i{
                    width: 14px;
                    height: 14px;
                    vertical-align: middle;
                    margin-right: 5px;
                    display: inline-block;
                    background: url('/static/image/add_icon.png') no-repeat;
                }
            }
        }
    }

    .detail-flow-info{
        background: #f8f8f8;
        margin: 20px 0;
        padding: 20px;
        margin-left: 30px;

        .node-inline{
            line-height: 25px;
        }
    }

    .detail-form{
        padding-left: 30px;
        margin-bottom: 10px;
        padding-top: 20px;
        border-top: 1px dashed #dbe1e7;

        .form-title{
            height: 30px;
            color: #2c373f;
            line-height: 30px;
            font-size: 14px;
            margin-bottom: 20px;
            i{
                background: #1abefb;
                height: 20px;
                width: 5px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
            }
        }

        .detail-save{
            border: none;
            background: #1abefb;
            display: block;
            width: 150px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            margin-left: 104px;
            cursor: pointer;
            color: #fff;
            border-radius: 3px;
        }
    }

    .form-container{
        position: relative;
    }

    .node-container{
        .node-inline{
            margin-bottom: 20px;
        }

        .login-input-icon-1{
            color: #4f5e69;
            font-size: 12px;
            width: 101px;
            text-align: right;
            display: inline-block;
        }

        .input-name{
            border: 1px solid #dbe1e7;
            text-shadow: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color: #4f5e69;
            width: 310px;
            height: 36px;
            line-height: 36px;
        }

        .select{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            padding: 0;
            overflow: hidden;
            background: #fff;
            color: #4f5e69;
            border: 1px solid #dbe1e7;
            height: 36px;
            // margin-right: 20px;
            text-shadow: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-transition: box-shadow 0.25s ease;
            -o-transition: box-shadow 0.25s ease;
            -webkit-transition: box-shadow 0.25s ease;
            transition: box-shadow 0.25s ease;
        }

        .select select {
            cursor: pointer;
            padding: 0.5em;
            padding-right: 2em;
            width: 310px;
            height: 36px;
            border: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
            // width: 160% \9;
            text-transform: none;
        }
    }
}

.chain-group-dialog{

    .chain-type-container{
        width: 100px;
        height: 100px;
        border: 1px solid #dbe1e7;
        position: relative;
        margin: 0 auto;
        cursor: pointer;
        .line-1{
            display: block;
            position: absolute;
            width: 50%;
            height: 6px;
            top: 46px;
            left: 22px;
            background: #1abefb;
        }
        .line-2{
            display: block;
            position: absolute;
            width: 6px;
            height: 50%;
            background: #1abefb;
            top: 25px;
            left: 45px;
        }
    }

    .chain-title{
        text-align:center;
        margin: 10px auto;
        font-size: 14px;
        color: #4f5e69;
    }

    .flow-form-container{
        margin-top: 30px;

        .flow-form-list{
            width: 375px;
            margin: 0 auto;
        }

        .flow-inline{
            margin-bottom: 20px;

            &.rili-inline{
                position: relative;
                cursor: pointer;
                .rili-icon{
                    background: url("/static/image/rili_icon.png") no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 10px;
                    top: 8px;
                }
            }

        }

        label.login-input-icon-1{
            font-size: 12px;
            color: #4f5e69;
            display: inline-block;
            width: 62px;
            text-align: right;
        }
        .flow-name{
            border: 1px solid #dbe1e7;
            text-shadow: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color: #4f5e69;
            width: 310px;
            height: 36px;
            line-height: 36px;
        }

        .profit-input{
            border: none;
        }

        .select{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            padding: 0;
            overflow: hidden;
            background: #fff;
            color: #4f5e69;
            border: 1px solid #dbe1e7;
            height: 36px;
            text-shadow: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-transition: box-shadow 0.25s ease;
            -o-transition: box-shadow 0.25s ease;
            -webkit-transition: box-shadow 0.25s ease;
            transition: box-shadow 0.25s ease;
        }

        .select select {
            cursor: pointer;
            padding: 0.5em;
            padding-right: 2em;
            width: 310px;
            height: 36px;
            border: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-indent: 0.01px;
            text-overflow: '';
            // width: 160% \9;
            text-transform: none;
        }
    }

    .btn-container{
        margin-top: 30px;
        text-align: center;
        margin-bottom: 32px;
        .login-step{
            width: 150px;
            height: 36px;
            text-align: center;
            display: inline-block;
            border: none;
            cursor: pointer;
        }

        .login-step-1{
            background: #f7682a;
            color: #fff;
        }
        .login-step-2{
            background: #c1c8ca;
            color: #fff;
            margin-left: 20px;
        }

    }
}

.fb-field-wrapper{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-top: 20px;
}

.fb-field-wrapper .subtemplate-wrapper:hover{
    border: 0;
}

.fb-field-wrapper:hover{
    border: none;
}
